#
#### https://stackoverflow.com/questions/5711120/gitignore-binary-files-that-have-no-extension
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
####

*.pdb
*.obj
*.exe
*.ilk
*.dSYM/*
*.dSYM
*.xml
*.cmake
*.plist
CMake*
*.iml
.DS_Store
.idea/*
